<section class="mas-buscado">
    <h2 class="titulo">Lo más buscado</h2>
  
    <div class="contenedor">
      <div class="item">
        <img src="closet.png" alt="Cocina" />
        <div class="overlay">Cocinas</div>
      </div>
  
      <div class="item">
        <img src="closet.png" alt="Clóset" />
        <div class="overlay">Clósets</div>
      </div>
  
      <div class="item">
        <img src="closet.png" alt="Centro de entretenimiento" />
        <div class="overlay">Centros de entretenimiento</div>
      </div>
    </div>
  </section>