<section class="carousel-section">
    <h2>Recomendados para ti</h2>
  
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let product of products">
          <div class="card">
            <img [src]="product.img" alt="{{ product.name }}" />
            <h3>{{ product.name }}</h3>
            <p>\${{ product.price }}</p>
          </div>
        </div>
      </div>
  
      <!-- Controles -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
